#Sun Mar 17 18:25:05 CET 2024
testcontroller.concurrentCommands=true
testcontroller.context.Game.command.Down=Down|STICK|y|Y Axis|0.532|1.0
testcontroller.context.Game.command.Fire=Fire|STICK|3|Button 3|1.0
testcontroller.context.Game.command.Left=Left|STICK|x|X Axis|-1.0|-0.532
testcontroller.context.Game.command.Right=Right|STICK|x|X Axis|0.532|1.0
testcontroller.context.Game.command.Up=Up|STICK|y|Y Axis|-1.0|-0.532
testcontroller.context.Menu.command.Clear=Clear|STICK|2|Button 2|1.0
testcontroller.context.Menu.command.Down=Down|STICK|y|Y Axis|0.532|1.0
testcontroller.context.Menu.command.Enter=Enter|STICK|1|Button 1|1.0
testcontroller.context.Menu.command.Left=Left|STICK|x|X Axis|-1.0|-0.532
testcontroller.context.Menu.command.Right=Right|STICK|x|X Axis|0.532|1.0
testcontroller.context.Menu.command.Up=Up|STICK|y|Y Axis|-1.0|-0.532
testcontroller.deviceIdentifier=JInputDevice-718747082
testcontroller.fastReleasing=true
testcontroller.name=Joystick-1
testcontroller.type=JOYSTICK
